@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  width: 100%;
  max-width: 1920px;
  margin-left: 250px;
}
main .section {
  margin-bottom: 2rem;
}
main .section .section-title {
  font-size: 24px;
  margin-bottom: 1rem;
}
main .section .playlist-items {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 3rem;
}
main .section .playlist-items .playlist-item {
  transition: all 0.3s ease-out;
}
main .section .playlist-items .playlist-item:hover {
  transition: transform 0.3s ease;
}
main .section .playlist-items .playlist-item:hover:hover {
  transform: translateY(-5px);
}
main .section .playlist-items .playlist-item .playlist-cover {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}
main .section .playlist-items .playlist-item .playlist-name {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease-out;
}
.button.is-primary {
  background-color: #00bfff;
  color: #ffffff;
}
.button.is-primary:hover {
  background-color: #0099cc;
}

.card {
  background-color: #191414;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.card:hover {
  transition: transform 0.3s ease;
}
.card:hover:hover {
  transform: translateY(-5px);
}
.card .card-image {
  width: 100%;
  display: block;
}
.card .card-content {
  padding: 0.5rem;
}
.card .card-content .title {
  font-size: 14px;
  margin: 0.5rem 0;
}
.card .card-content .subtitle {
  font-size: 20px;
  margin: 0;
}

form fieldset {
  border: none;
}
form fieldset legend {
  font-size: 1.5em;
  margin-bottom: 10px;
}
form fieldset label {
  margin-top: 10px;
  display: block;
}
form fieldset input[type=text],
form fieldset input[type=password],
form fieldset input[type=email] {
  width: 100%;
  font-size: 26px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
}
form fieldset input[type=text]:valid:focus,
form fieldset input[type=password]:valid:focus,
form fieldset input[type=email]:valid:focus {
  background-color: #00bfff;
}
form fieldset input[type=text]:invalid:focus,
form fieldset input[type=password]:invalid:focus,
form fieldset input[type=email]:invalid:focus {
  background-color: #ea4b4b;
}
form fieldset .form-actions {
  margin-top: 20px;
}
form fieldset .form-actions input[type=submit],
form fieldset .form-actions input[type=button] {
  width: auto;
  padding: 10px 18px;
  margin-right: 10px;
  border-radius: 8px;
  color: #ffffff;
  border: 1px solid #ccc;
  background-color: #00bfff;
}

.search-bar input[type=search] {
  width: 100%;
  padding: 8px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.search-bar button {
  background-color: #00bfff;
  color: #ffffff;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.search-bar button:hover {
  background-color: #00ace6;
}

#lyricsSearchButton {
  background-color: #00bfff;
  color: #ffffff;
  border: none;
  margin-top: 15px;
  padding: 8px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}
#lyricsSearchButton:hover {
  background-color: #00bfff;
}

#resultsContent {
  padding: 20px;
  max-width: 900px;
  overflow-y: auto;
}
#resultsContent ul {
  list-style: none;
  padding: 0;
}
#resultsContent ul li {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #191414;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
#resultsContent .search-result-button {
  font-family: "Roboto", sans-serif;
  background-color: #191414;
  font-size: 24px;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#resultsContent .search-result-button:hover {
  background-color: #00bfff;
}
#resultsContent .lyrics {
  white-space: pre-wrap;
  margin-top: 20px;
  background-color: #191414;
  color: #ffffff;
  padding: 15px;
  border-radius: 5px;
}

@keyframes borderAnime {
  0%, 100% {
    clip-path: polygon(0 0, 100% 0, 100% 2px, 0% 2px);
  }
  25% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  }
  75% {
    clip-path: polygon(100% 100%, 0% 100%, 0 0, 100% 0);
  }
}
#headerLogo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: borderAnime 8s linear infinite;
  border: 2px solid #00bfff;
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

#stars,
#stars2,
#stars3 {
  width: 1px;
  height: 1px;
  background: transparent;
}

#stars {
  box-shadow: 630px 136px #fff, 1303px 748px #fff, 710px 624px #fff, 313px 643px #fff, 505px 1366px #fff, 1775px 114px #fff, 299px 98px #fff, 703px 207px #fff, 1670px 1357px #fff, 1343px 1354px #fff, 1741px 1545px #fff, 1387px 1020px #fff, 1792px 1453px #fff, 455px 491px #fff, 989px 787px #fff, 1039px 1624px #fff, 924px 1560px #fff, 411px 76px #fff, 531px 531px #fff, 1533px 1535px #fff, 1275px 454px #fff, 680px 46px #fff, 610px 111px #fff, 162px 987px #fff, 1975px 1264px #fff, 794px 1364px #fff, 178px 456px #fff, 1321px 1057px #fff, 522px 724px #fff, 891px 1975px #fff, 504px 993px #fff, 1807px 389px #fff, 58px 891px #fff, 406px 401px #fff, 781px 1996px #fff, 166px 1509px #fff, 1087px 652px #fff, 905px 1123px #fff, 256px 396px #fff, 1845px 1360px #fff, 1034px 1414px #fff, 28px 724px #fff, 994px 1047px #fff, 549px 1688px #fff, 235px 46px #fff, 1079px 1038px #fff, 1760px 1891px #fff, 1649px 1079px #fff, 181px 1223px #fff, 633px 1581px #fff, 959px 1619px #fff, 1081px 848px #fff, 716px 1584px #fff, 606px 446px #fff, 563px 1229px #fff, 1246px 929px #fff, 258px 789px #fff, 1351px 1791px #fff, 1569px 196px #fff, 1951px 599px #fff, 350px 724px #fff, 241px 1131px #fff, 1060px 1843px #fff, 1801px 1358px #fff, 1631px 809px #fff, 554px 780px #fff, 788px 1447px #fff, 909px 1140px #fff, 468px 1358px #fff, 581px 277px #fff, 466px 1311px #fff, 1922px 1852px #fff, 1269px 824px #fff, 194px 387px #fff, 613px 960px #fff, 1516px 1869px #fff, 1956px 1576px #fff, 987px 1901px #fff, 714px 1613px #fff, 1742px 1349px #fff, 1024px 585px #fff, 924px 1401px #fff, 1381px 1697px #fff, 761px 1315px #fff, 810px 854px #fff, 1776px 688px #fff, 1320px 203px #fff, 543px 535px #fff, 1023px 1693px #fff, 921px 1043px #fff, 1567px 1259px #fff, 1929px 53px #fff, 324px 1682px #fff, 186px 360px #fff, 344px 1348px #fff, 547px 1108px #fff, 1535px 471px #fff, 1929px 1979px #fff, 1015px 1513px #fff, 340px 584px #fff, 521px 467px #fff, 490px 536px #fff, 1597px 573px #fff, 296px 1366px #fff, 999px 1233px #fff, 988px 18px #fff, 1530px 1553px #fff, 1309px 1271px #fff, 420px 1023px #fff, 425px 1438px #fff, 1213px 896px #fff, 349px 1075px #fff, 945px 16px #fff, 609px 1257px #fff, 91px 1253px #fff, 671px 1929px #fff, 1848px 80px #fff, 79px 327px #fff, 1199px 1830px #fff, 762px 225px #fff, 679px 1702px #fff, 1354px 1594px #fff, 1491px 1582px #fff, 15px 290px #fff, 1476px 146px #fff, 699px 1050px #fff, 201px 1907px #fff, 1446px 1092px #fff, 68px 1823px #fff, 658px 442px #fff, 138px 1520px #fff, 1030px 1639px #fff, 1568px 601px #fff, 1025px 835px #fff, 26px 522px #fff, 1933px 868px #fff, 290px 888px #fff, 525px 537px #fff, 1160px 1840px #fff, 342px 425px #fff, 421px 1767px #fff, 1977px 1691px #fff, 1588px 910px #fff, 1736px 1294px #fff, 1466px 1428px #fff, 1174px 1305px #fff, 1740px 442px #fff, 1419px 1873px #fff, 1084px 1973px #fff, 1609px 1234px #fff, 736px 558px #fff, 84px 805px #fff, 476px 386px #fff, 173px 1670px #fff, 623px 1697px #fff, 104px 1042px #fff, 1328px 1014px #fff, 506px 768px #fff, 36px 1168px #fff, 1804px 280px #fff, 1187px 660px #fff, 679px 915px #fff, 957px 749px #fff, 362px 1720px #fff, 1494px 312px #fff, 1343px 1793px #fff, 1229px 476px #fff, 1977px 1269px #fff, 1692px 1619px #fff, 1140px 1672px #fff, 162px 861px #fff, 1458px 1135px #fff, 1336px 550px #fff, 1475px 1202px #fff, 345px 1376px #fff, 872px 328px #fff, 87px 815px #fff, 536px 1345px #fff, 400px 603px #fff, 1315px 1208px #fff, 1212px 1074px #fff, 1399px 376px #fff, 1394px 1985px #fff, 255px 344px #fff, 903px 1392px #fff, 1647px 1308px #fff, 961px 752px #fff, 516px 1841px #fff, 277px 1484px #fff, 1090px 685px #fff, 1723px 964px #fff, 780px 713px #fff, 286px 1662px #fff, 1265px 384px #fff, 1032px 1345px #fff, 1149px 1631px #fff, 1678px 1753px #fff, 926px 1237px #fff, 617px 448px #fff, 482px 1729px #fff, 267px 343px #fff, 1007px 602px #fff, 1067px 1333px #fff, 1814px 1647px #fff, 332px 1105px #fff, 720px 599px #fff, 1762px 135px #fff, 1432px 1489px #fff, 430px 679px #fff, 1425px 435px #fff, 442px 790px #fff, 463px 1298px #fff, 1096px 166px #fff, 1318px 297px #fff, 731px 899px #fff, 74px 1600px #fff, 1902px 488px #fff, 1406px 908px #fff, 1972px 274px #fff, 229px 1718px #fff, 1356px 1856px #fff, 1031px 236px #fff, 1032px 481px #fff, 604px 645px #fff, 1057px 66px #fff, 1219px 624px #fff, 479px 924px #fff, 1010px 78px #fff, 1014px 338px #fff, 706px 1106px #fff, 1103px 1275px #fff, 72px 1719px #fff, 1795px 1514px #fff, 624px 1802px #fff, 1406px 586px #fff, 1396px 1906px #fff, 637px 1632px #fff, 88px 428px #fff, 1070px 1515px #fff, 37px 1697px #fff, 1330px 42px #fff, 10px 766px #fff, 1908px 1629px #fff, 1075px 1528px #fff, 1133px 701px #fff, 1921px 971px #fff, 1225px 1261px #fff, 1840px 624px #fff, 1923px 559px #fff, 848px 1431px #fff, 258px 938px #fff, 1178px 693px #fff, 272px 572px #fff, 1288px 1705px #fff, 751px 1154px #fff, 762px 1056px #fff, 1786px 1100px #fff, 271px 654px #fff, 504px 1225px #fff, 1002px 1530px #fff, 267px 1894px #fff, 1880px 390px #fff, 509px 558px #fff, 1602px 924px #fff, 1963px 1889px #fff, 400px 1504px #fff, 416px 1636px #fff, 909px 579px #fff, 836px 1480px #fff, 1178px 1628px #fff, 1705px 1776px #fff, 1675px 419px #fff, 1526px 790px #fff, 1026px 38px #fff, 373px 32px #fff, 492px 259px #fff, 1986px 1238px #fff, 1751px 277px #fff, 1648px 564px #fff, 43px 1957px #fff, 1989px 211px #fff, 139px 274px #fff, 566px 1358px #fff, 603px 77px #fff, 933px 578px #fff, 593px 1461px #fff, 1313px 306px #fff, 660px 1392px #fff, 870px 1956px #fff, 1070px 1100px #fff, 1109px 1302px #fff, 1900px 474px #fff, 823px 523px #fff, 1787px 681px #fff, 1090px 1368px #fff, 1311px 1612px #fff, 456px 1152px #fff, 1332px 474px #fff, 271px 1673px #fff, 489px 1946px #fff, 1057px 1314px #fff, 1074px 433px #fff, 114px 925px #fff, 407px 198px #fff, 412px 12px #fff, 642px 1446px #fff, 1011px 560px #fff, 1705px 270px #fff, 928px 661px #fff, 51px 1215px #fff, 192px 1553px #fff, 1909px 1360px #fff, 1153px 669px #fff, 53px 1929px #fff, 1342px 1659px #fff, 235px 913px #fff, 1429px 1174px #fff, 1706px 652px #fff, 1762px 1001px #fff, 1370px 1024px #fff, 228px 1731px #fff, 529px 1776px #fff, 89px 564px #fff, 253px 1236px #fff, 1409px 260px #fff, 1765px 446px #fff, 383px 135px #fff, 1740px 203px #fff, 371px 440px #fff, 1637px 1742px #fff, 598px 1028px #fff, 1342px 1354px #fff, 435px 1208px #fff, 705px 1412px #fff, 753px 266px #fff, 396px 717px #fff, 730px 1521px #fff, 169px 870px #fff, 140px 1514px #fff, 110px 1703px #fff, 977px 920px #fff, 1814px 384px #fff, 1436px 539px #fff, 1570px 800px #fff, 1628px 485px #fff, 637px 798px #fff, 1875px 805px #fff, 809px 1621px #fff, 15px 1610px #fff, 1144px 1743px #fff, 1356px 1148px #fff, 472px 451px #fff, 506px 1058px #fff, 1033px 636px #fff, 1993px 1234px #fff, 918px 1705px #fff, 1803px 1933px #fff, 651px 1364px #fff, 664px 31px #fff, 360px 993px #fff, 963px 1435px #fff, 1098px 142px #fff, 1210px 1377px #fff, 1590px 826px #fff, 1182px 510px #fff, 325px 419px #fff, 1414px 132px #fff, 1543px 836px #fff, 1640px 489px #fff, 1700px 249px #fff, 1438px 1371px #fff, 1150px 142px #fff, 171px 225px #fff, 644px 1334px #fff, 552px 1233px #fff, 1988px 949px #fff, 1763px 51px #fff, 1264px 1145px #fff, 53px 192px #fff, 1096px 838px #fff, 1548px 14px #fff, 31px 399px #fff, 1580px 837px #fff, 592px 1840px #fff, 268px 1229px #fff, 456px 525px #fff, 1574px 774px #fff, 1018px 1590px #fff, 953px 888px #fff, 181px 1972px #fff, 430px 1797px #fff, 1645px 177px #fff, 1270px 78px #fff, 10px 750px #fff, 1553px 375px #fff, 1088px 931px #fff, 784px 1839px #fff, 192px 375px #fff, 524px 1401px #fff, 1695px 1141px #fff, 1422px 1173px #fff, 1087px 1454px #fff, 1279px 1334px #fff, 1367px 1228px #fff, 1554px 99px #fff, 1238px 1249px #fff, 726px 559px #fff, 701px 1737px #fff, 1989px 1273px #fff, 802px 286px #fff, 1697px 420px #fff, 517px 1081px #fff, 1757px 24px #fff, 1376px 1243px #fff, 1286px 1777px #fff, 1560px 563px #fff, 238px 61px #fff, 339px 999px #fff, 684px 990px #fff, 1312px 1231px #fff, 1753px 471px #fff, 100px 110px #fff, 284px 1123px #fff, 881px 173px #fff, 582px 1839px #fff, 550px 1948px #fff, 1977px 1007px #fff, 353px 246px #fff, 170px 81px #fff, 255px 1537px #fff, 1204px 527px #fff, 323px 1127px #fff, 1752px 1066px #fff, 1957px 1459px #fff, 1212px 830px #fff, 1036px 798px #fff, 1814px 4px #fff, 302px 1654px #fff, 1917px 1316px #fff, 1441px 1391px #fff, 2000px 441px #fff, 688px 550px #fff, 116px 444px #fff, 1503px 1151px #fff, 679px 562px #fff, 523px 374px #fff, 359px 919px #fff, 32px 1560px #fff, 1132px 1409px #fff, 62px 734px #fff, 509px 817px #fff, 1071px 567px #fff, 1118px 1237px #fff, 88px 13px #fff, 808px 592px #fff, 1279px 1198px #fff, 575px 79px #fff, 267px 586px #fff, 685px 401px #fff, 54px 983px #fff, 1859px 9px #fff, 345px 1427px #fff, 1725px 1060px #fff, 1287px 799px #fff, 71px 1482px #fff, 1432px 394px #fff, 866px 1405px #fff, 712px 1419px #fff, 715px 608px #fff, 1218px 1742px #fff, 1872px 735px #fff, 1590px 831px #fff, 1101px 542px #fff, 1983px 718px #fff, 13px 1047px #fff, 1132px 826px #fff, 871px 1885px #fff, 1258px 1878px #fff, 220px 1778px #fff, 823px 1682px #fff, 704px 1420px #fff, 1656px 32px #fff, 276px 184px #fff, 91px 663px #fff, 1584px 144px #fff, 803px 21px #fff, 334px 1969px #fff, 919px 1489px #fff, 1844px 1115px #fff, 1222px 853px #fff, 75px 422px #fff, 113px 1338px #fff, 526px 865px #fff, 535px 1548px #fff, 782px 329px #fff, 1499px 1310px #fff, 941px 255px #fff, 1369px 1477px #fff, 331px 746px #fff, 614px 203px #fff, 135px 1733px #fff, 85px 1156px #fff, 1323px 232px #fff, 1290px 182px #fff, 181px 1797px #fff, 1776px 635px #fff, 119px 1132px #fff, 313px 1769px #fff, 1866px 761px #fff, 300px 1778px #fff, 276px 74px #fff, 1629px 1008px #fff, 711px 1746px #fff, 470px 1709px #fff, 230px 1510px #fff, 1545px 380px #fff, 210px 1174px #fff, 1814px 1762px #fff, 1311px 1261px #fff, 1656px 1898px #fff, 622px 27px #fff, 828px 1645px #fff, 1359px 133px #fff, 1240px 188px #fff, 1707px 1639px #fff, 1795px 281px #fff, 505px 641px #fff, 420px 1001px #fff, 1186px 518px #fff, 980px 1011px #fff, 1813px 913px #fff, 663px 728px #fff, 55px 769px #fff, 1136px 1537px #fff, 1423px 1544px #fff, 679px 1605px #fff, 417px 1429px #fff, 895px 1823px #fff, 372px 1553px #fff, 432px 295px #fff, 1158px 609px #fff, 1592px 837px #fff, 1840px 1057px #fff, 376px 1398px #fff, 999px 1874px #fff, 463px 296px #fff, 49px 455px #fff, 1490px 29px #fff, 9px 826px #fff, 864px 1435px #fff, 1649px 364px #fff, 566px 1931px #fff, 340px 1009px #fff, 138px 395px #fff, 1309px 306px #fff, 194px 171px #fff, 1437px 353px #fff, 22px 81px #fff, 1063px 1884px #fff, 156px 23px #fff, 643px 1091px #fff, 1654px 1639px #fff, 4px 1745px #fff, 1650px 1376px #fff, 831px 259px #fff, 1634px 1488px #fff, 120px 1813px #fff, 960px 939px #fff, 124px 132px #fff, 780px 106px #fff, 1769px 255px #fff, 276px 1733px #fff, 1188px 547px #fff, 172px 1492px #fff, 1716px 1135px #fff, 881px 223px #fff, 1429px 1904px #fff, 645px 1467px #fff, 1959px 883px #fff, 1522px 1412px #fff, 689px 1466px #fff, 1407px 1669px #fff, 1896px 1244px #fff, 732px 1077px #fff, 1649px 495px #fff, 275px 1517px #fff, 40px 1693px #fff, 585px 953px #fff, 1694px 949px #fff, 927px 1957px #fff, 362px 1581px #fff, 1653px 1320px #fff, 625px 4px #fff, 107px 1321px #fff, 1235px 815px #fff, 374px 1680px #fff, 438px 1192px #fff, 869px 594px #fff, 1371px 1279px #fff, 1920px 747px #fff, 1450px 1947px #fff, 1177px 111px #fff, 1571px 1244px #fff, 1115px 149px #fff, 1063px 1707px #fff, 1811px 1876px #fff, 1341px 1348px #fff, 1529px 1123px #fff, 1895px 743px #fff, 443px 555px #fff, 1805px 702px #fff, 827px 1147px #fff, 1912px 367px #fff, 891px 1411px #fff, 65px 380px #fff, 727px 74px #fff, 1235px 1759px #fff, 1879px 435px #fff, 1656px 1014px #fff, 345px 1059px #fff, 334px 621px #fff, 808px 1820px #fff, 1185px 964px #fff, 298px 1365px #fff, 1639px 1209px #fff, 745px 1567px #fff, 1427px 1156px #fff, 1254px 870px #fff, 278px 61px #fff, 1328px 568px #fff, 1784px 1407px #fff, 1015px 1239px #fff, 168px 997px #fff, 1914px 1850px #fff, 773px 55px #fff, 1705px 1630px #fff, 810px 976px #fff, 956px 1987px #fff, 1230px 521px #fff, 301px 1418px #fff, 232px 166px #fff, 1153px 55px #fff, 1415px 439px #fff, 895px 1177px #fff, 1570px 942px #fff, 1299px 1475px #fff, 151px 1682px #fff, 253px 1445px #fff, 1686px 642px #fff, 409px 1893px #fff, 424px 200px #fff, 709px 252px #fff, 1038px 867px #fff, 740px 691px #fff, 1870px 898px #fff, 531px 1129px #fff, 619px 1242px #fff, 1090px 1605px #fff, 1780px 282px #fff, 846px 1171px #fff, 380px 1006px #fff, 1513px 1253px #fff, 387px 1580px #fff, 1915px 140px #fff, 470px 1457px #fff, 777px 848px #fff, 1023px 1753px #fff, 536px 1741px #fff, 560px 1533px #fff, 1395px 1320px #fff, 722px 1274px #fff, 211px 746px #fff, 429px 937px #fff, 1928px 1330px #fff, 1926px 1230px #fff, 584px 251px #fff, 711px 1142px #fff, 1741px 1888px #fff, 458px 1660px #fff, 319px 303px #fff, 450px 1064px #fff, 1912px 1186px #fff, 1952px 846px #fff, 1746px 907px #fff, 287px 1686px #fff, 1530px 1113px #fff, 1618px 90px #fff, 1507px 1642px #fff, 1525px 228px #fff, 911px 1416px #fff, 251px 1177px #fff, 999px 1370px #fff, 915px 313px #fff, 395px 1723px #fff, 1920px 1956px #fff, 1874px 1804px #fff, 1543px 1008px #fff, 913px 1160px #fff, 573px 1886px #fff, 1971px 766px #fff;
  animation: animStar 50s linear infinite;
}

#stars2 {
  box-shadow: 1142px 1515px #fff, 1042px 1131px #fff, 24px 929px #fff, 822px 1564px #fff, 79px 1819px #fff, 1407px 1464px #fff, 601px 1352px #fff, 1470px 432px #fff, 112px 1861px #fff, 1674px 49px #fff, 878px 1240px #fff, 1878px 1278px #fff, 201px 1708px #fff, 495px 495px #fff, 1221px 1413px #fff, 2000px 1491px #fff, 227px 68px #fff, 268px 4px #fff, 1114px 1586px #fff, 139px 930px #fff, 1955px 1514px #fff, 1567px 1975px #fff, 66px 275px #fff, 1993px 331px #fff, 570px 979px #fff, 75px 1305px #fff, 342px 1216px #fff, 1508px 1971px #fff, 193px 1331px #fff, 1497px 1238px #fff, 1228px 1475px #fff, 1930px 842px #fff, 1636px 73px #fff, 88px 1364px #fff, 17px 234px #fff, 1426px 1133px #fff, 54px 1329px #fff, 209px 1906px #fff, 1907px 1764px #fff, 1276px 1744px #fff, 1160px 830px #fff, 544px 1578px #fff, 1538px 1680px #fff, 1590px 1463px #fff, 1265px 519px #fff, 359px 367px #fff, 226px 1706px #fff, 1342px 1380px #fff, 1712px 1275px #fff, 1251px 470px #fff, 593px 916px #fff, 1972px 1296px #fff, 93px 1192px #fff, 1761px 229px #fff, 1341px 1063px #fff, 1380px 1158px #fff, 370px 1601px #fff, 182px 818px #fff, 1996px 577px #fff, 46px 371px #fff, 464px 79px #fff, 1383px 204px #fff, 978px 276px #fff, 674px 268px #fff, 216px 1633px #fff, 1892px 1355px #fff, 640px 727px #fff, 1245px 943px #fff, 1693px 33px #fff, 30px 863px #fff, 959px 1036px #fff, 3px 1021px #fff, 1767px 392px #fff, 433px 1162px #fff, 521px 1834px #fff, 1578px 890px #fff, 618px 1839px #fff, 220px 164px #fff, 74px 690px #fff, 758px 1351px #fff, 1903px 898px #fff, 823px 1745px #fff, 990px 949px #fff, 1270px 1606px #fff, 1471px 914px #fff, 597px 1051px #fff, 153px 570px #fff, 959px 128px #fff, 1098px 1081px #fff, 201px 917px #fff, 1419px 386px #fff, 678px 36px #fff, 586px 1790px #fff, 456px 695px #fff, 842px 155px #fff, 1373px 129px #fff, 299px 1111px #fff, 210px 257px #fff, 507px 1601px #fff, 1262px 1366px #fff, 965px 695px #fff, 1858px 426px #fff, 445px 50px #fff, 1745px 1014px #fff, 1175px 1038px #fff, 1056px 1585px #fff, 1305px 440px #fff, 1075px 1506px #fff, 1918px 470px #fff, 452px 333px #fff, 567px 292px #fff, 16px 1327px #fff, 814px 1902px #fff, 980px 348px #fff, 1738px 650px #fff, 1970px 982px #fff, 1985px 37px #fff, 1811px 9px #fff, 851px 1875px #fff, 549px 170px #fff, 1470px 236px #fff, 1744px 293px #fff, 380px 1393px #fff, 1859px 1516px #fff, 1073px 1097px #fff, 442px 901px #fff, 521px 406px #fff, 1755px 1033px #fff, 1793px 1645px #fff, 274px 1213px #fff, 1293px 681px #fff, 53px 1554px #fff, 1629px 1815px #fff, 1617px 1496px #fff, 667px 1791px #fff, 1077px 1480px #fff, 927px 48px #fff, 690px 1975px #fff, 393px 1098px #fff, 1885px 1416px #fff, 1807px 12px #fff, 1004px 1184px #fff, 521px 936px #fff, 1925px 1643px #fff, 537px 158px #fff, 1632px 137px #fff, 1835px 1740px #fff, 826px 116px #fff, 790px 935px #fff, 883px 629px #fff, 354px 1628px #fff, 679px 1712px #fff, 440px 60px #fff, 9px 580px #fff, 629px 1263px #fff, 1379px 1742px #fff, 585px 1455px #fff, 1309px 1114px #fff, 1485px 1980px #fff, 879px 1994px #fff, 1285px 982px #fff, 1013px 102px #fff, 833px 1940px #fff, 241px 1805px #fff, 1988px 1767px #fff, 1574px 1650px #fff, 817px 1616px #fff, 1922px 1566px #fff, 698px 399px #fff, 109px 517px #fff, 234px 663px #fff, 358px 1032px #fff, 1726px 1362px #fff, 1385px 1600px #fff, 359px 1260px #fff, 674px 1243px #fff, 1144px 1707px #fff, 1298px 1280px #fff, 519px 1861px #fff, 1222px 839px #fff, 504px 481px #fff, 1090px 279px #fff, 623px 848px #fff, 1703px 132px #fff, 381px 79px #fff, 705px 898px #fff, 781px 924px #fff, 1506px 1228px #fff, 195px 379px #fff, 1731px 872px #fff, 91px 946px #fff, 434px 1939px #fff, 1505px 1883px #fff, 1851px 1718px #fff, 1600px 891px #fff, 1175px 1072px #fff, 1529px 1191px #fff, 1658px 143px #fff, 1256px 884px #fff, 518px 365px #fff;
  animation: animStar 100s linear infinite;
}

#stars3 {
  box-shadow: 615px 1951px #fff, 880px 1630px #fff, 1631px 632px #fff, 227px 1029px #fff, 668px 1222px #fff, 1738px 1944px #fff, 82px 557px #fff, 426px 1996px #fff, 1810px 160px #fff, 1936px 1671px #fff, 1175px 649px #fff, 604px 298px #fff, 1093px 1094px #fff, 354px 703px #fff, 1941px 207px #fff, 960px 28px #fff, 1200px 1683px #fff, 885px 791px #fff, 1935px 217px #fff, 1572px 40px #fff, 802px 1933px #fff, 832px 620px #fff, 1425px 1490px #fff, 660px 1023px #fff, 178px 1219px #fff, 716px 1861px #fff, 481px 911px #fff, 1574px 855px #fff, 1482px 1664px #fff, 811px 1589px #fff, 531px 343px #fff, 607px 86px #fff, 415px 369px #fff, 1994px 119px #fff, 289px 1081px #fff, 314px 1000px #fff, 1908px 1553px #fff, 1889px 1686px #fff, 746px 936px #fff, 1002px 100px #fff, 590px 503px #fff, 1601px 735px #fff, 1716px 1182px #fff, 1953px 772px #fff, 1817px 382px #fff, 1756px 888px #fff, 242px 879px #fff, 573px 734px #fff, 1204px 765px #fff, 1103px 631px #fff, 1328px 1777px #fff, 1724px 213px #fff, 798px 290px #fff, 1658px 321px #fff, 331px 1650px #fff, 646px 775px #fff, 1422px 1260px #fff, 230px 1534px #fff, 801px 1941px #fff, 514px 331px #fff, 28px 1628px #fff, 211px 882px #fff, 1846px 1594px #fff, 499px 48px #fff, 379px 391px #fff, 16px 1029px #fff, 19px 7px #fff, 829px 102px #fff, 260px 447px #fff, 397px 435px #fff, 1392px 141px #fff, 806px 532px #fff, 1366px 598px #fff, 1918px 731px #fff, 1138px 1600px #fff, 1018px 552px #fff, 1236px 1830px #fff, 25px 825px #fff, 1980px 572px #fff, 290px 911px #fff, 632px 181px #fff, 1761px 235px #fff, 1545px 192px #fff, 1808px 814px #fff, 748px 411px #fff, 1166px 1180px #fff, 1033px 190px #fff, 1777px 1730px #fff, 1638px 1938px #fff, 1168px 1520px #fff, 1378px 1981px #fff, 1564px 162px #fff, 376px 384px #fff, 1759px 1395px #fff, 684px 180px #fff, 550px 1294px #fff, 577px 48px #fff, 432px 1035px #fff, 1073px 961px #fff, 33px 1746px #fff;
  animation: animStar 150s linear infinite;
}

#title_parallax {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
}
#title_parallax p {
  background: linear-gradient(white, #38495a);
  background-clip: text;
  color: transparent;
}
#title_parallax .logo_img {
  width: 250px;
  margin-left: 200px;
  border-radius: 40px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}
#title_parallax .logo_img:hover {
  transition: transform 0.3s ease;
}
#title_parallax .logo_img:hover:hover {
  transform: translateY(-5px);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
@media (max-width: 768px) {
  #title_parallax {
    font-size: 27px;
  }
  #title_parallax .logo_img {
    width: 202px;
    margin-left: 32px;
    border-radius: 40px;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
  }
  #title_parallax .logo_img:hover {
    transition: transform 0.3s ease;
  }
  #title_parallax .logo_img:hover:hover {
    transform: translateY(-5px);
  }
}
@media (max-width: 360px) {
  #title_parallax {
    font-size: 27px;
  }
  #title_parallax .logo_img {
    width: 150px;
    margin-left: 10px;
    border-radius: 40px;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
  }
  #title_parallax .logo_img:hover {
    transition: transform 0.3s ease;
  }
  #title_parallax .logo_img:hover:hover {
    transform: translateY(-5px);
  }
}
#followMouse {
  transition: transform 0.1s ease;
  width: 20px;
  border-radius: 8px;
  position: absolute;
}

header {
  background-color: #191414;
  padding: 1rem 0;
}
header .container {
  max-width: 1920px;
  width: 100%;
  padding: 0 15px;
}
header #headerLogo {
  display: inline-block;
  position: relative;
  width: 149px;
  height: 174px;
}
header .navbar {
  width: 100%;
}
header .navbar .navbar-brand .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
  width: 150px;
  margin-top: 2rem;
}
header .navbar .navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: left;
}
header .navbar .navbar-menu .search-bar {
  margin-right: 1rem;
}
header .navbar .navbar-menu .search-bar input[type=search] {
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
}
header .navbar .navbar-menu .nav-item,
header .navbar .navbar-menu .nav-item_login,
header .navbar .navbar-menu .nav-item_signup {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #00bfff;
  transition: background-color 0.3s ease-out;
}
header .navbar .navbar-menu .nav-item:hover,
header .navbar .navbar-menu .nav-item_login:hover,
header .navbar .navbar-menu .nav-item_signup:hover {
  background-color: #0099cc;
}

footer {
  background-color: #191414;
  color: #ffffff;
  padding: 2rem 0;
  margin-top: 250px;
}
footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  flex-wrap: wrap;
}
footer .footer-content {
  width: 100%;
  max-width: 300px;
}
footer .footer-content .footer-section {
  margin-bottom: 1rem;
}
footer .footer-content .footer-section h3 {
  font-size: 14px;
  margin-bottom: 0.5rem;
}
footer .footer-content .footer-section ul {
  margin-bottom: 1rem;
}
footer .footer-content .footer-section ul li {
  margin-bottom: 0.5rem;
}
footer .footer-bottom {
  font-size: 14px;
}

.sidebar {
  background-color: #191414;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  z-index: 1000;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.sidebar.is-expanded {
  transform: translateX(0);
}
.sidebar .sidebar-top .sidebar-logo {
  height: 120px;
  width: 150px;
  margin-left: 30px;
  margin-top: 60px;
}
.sidebar .sidebar-middle .nav-item,
.sidebar .sidebar-middle .button {
  margin: 1rem 0;
  padding: 2rem 2rem;
  border-radius: 20px;
  background-color: #00bfff;
  transition: background-color 0.3s ease-out;
}
.sidebar .sidebar-middle .nav-item:hover,
.sidebar .sidebar-middle .button:hover {
  background-color: #0099cc;
}
.sidebar .sidebar-bottom .nav-item {
  margin: 1rem 0;
  padding: 2rem 2rem;
  border-radius: 20px;
  background-color: #00bfff;
  transition: background-color 0.3s ease-out;
}
.sidebar .sidebar-bottom .nav-item:hover {
  background-color: #0099cc;
}
.sidebar .nav-link,
.sidebar .footer-nav-link {
  display: block;
  padding: 2.5rem;
}
.sidebar .nav-link:hover,
.sidebar .footer-nav-link:hover {
  background-color: black;
}
.sidebar .button {
  width: 100%;
  margin: 1rem 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  background-color: #191414;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  border: 1px solid #888;
  font-size: 20px;
}
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .close:hover, .modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.soundcloud-player {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  body,
  .container {
    padding: 0 10px;
  }
  main {
    width: 100%;
    margin-left: 0px;
  }
  main .section {
    margin-bottom: 2rem;
  }
  main .section .section-title {
    font-size: 24px;
    margin-bottom: 1rem;
  }
  main .section .playlist-items {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 0.5em;
  }
  main .section .playlist-items .playlist-item {
    transition: all 0.3s ease-out;
  }
  main .section .playlist-items .playlist-item:hover {
    transition: transform 0.3s ease;
  }
  main .section .playlist-items .playlist-item:hover:hover {
    transform: translateY(-5px);
  }
  main .section .playlist-items .playlist-item .playlist-cover {
    max-width: 200px;
    border-radius: 8px;
  }
  main .section .playlist-items .playlist-item .playlist-name {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 0.5em;
  }
  main .modal .modal-content {
    margin: 0;
    width: 90%;
  }
  main .modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  main .modal .close:hover, main .modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  header .navbar {
    flex-direction: column;
  }
  header .nav-item,
  header .nav-item_login {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
  }
}
@media (max-width: 360px) {
  body,
  .container {
    padding: 0 10px;
    max-width: fit-content;
  }
  main {
    width: 100%;
    max-width: fit-content;
    margin-left: 0px;
  }
  main .section {
    margin-bottom: 2rem;
  }
  main .section .section-title {
    font-size: 24px;
    margin-bottom: 1rem;
  }
  main .section .playlist-items {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    gap: 0.5em;
  }
  main .section .playlist-items .playlist-item {
    transition: all 0.3s ease-out;
  }
  main .section .playlist-items .playlist-item:hover {
    transition: transform 0.3s ease;
  }
  main .section .playlist-items .playlist-item:hover:hover {
    transform: translateY(-5px);
  }
  main .section .playlist-items .playlist-item .playlist-cover {
    max-width: 150px;
    border-radius: 8px;
  }
  main .section .playlist-items .playlist-item .playlist-name {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    gap: 0.5em;
  }
  footer .footer-bottom iframe {
    max-height: 100vh;
  }
  footer .footer-content, footer .footer-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .footer .footer-bottom iframe {
    max-height: 100vh;
  }
}

/*# sourceMappingURL=main.css.map */
