@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: left;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin transition($property, $duration: 0.3s, $easing: ease-out) {
  transition: $property $duration $easing;
}

@mixin hover-effect {
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-5px);
  }
}
