.search-bar {
  input[type="search"] {
    width: 100%;
    padding: 8px;
    margin-right: 5px;
    border: $search-input-border;
    border-radius: 4px;
  }

  button {
    background-color: $primary-color;
    color: $light-text;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      background-color: darken($primary-color, 5%);
    }
  }
}

#lyricsSearchButton {
  background-color: $primary-color;
  color: $light-text;
  border: none;
  margin-top: 15px;
  padding: 8px 15px;
  font-size: 1rem;
  cursor: pointer;
  @include transition(background-color);

  &:hover {
    background-color: $primary-color;
  }
}
