@function multiple-box-shadow($n) {
  // Función para generar sombras aleatorias
  $shadows: ();
  @for $i from 1 through $n {
    $shadows: append($shadows, #{random(2000)}px #{random(2000)}px #fff, comma);
  }
  @return $shadows;
}

// Genera sombras para diferentes tamaños de estrellas
$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

#stars,
#stars2,
#stars3 {
  width: 1px;
  height: 1px;
  background: transparent;
}

#stars {
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;
}

#stars2 {
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
}

#stars3 {
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;
}

#title_parallax {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;

  p {
    background: linear-gradient(white, #38495a);
    background-clip: text;
    color: transparent;
  }

  .logo_img {
    width: 250px;
    margin-left: 200px;
    border-radius: 40px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    @include flex-center;
    @include transition(all);

    &:hover {
      @include hover-effect;
    }
  }
}

// Animación para mover las estrellas
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@media (max-width: 768px) {
  #title_parallax {
    font-size: 27px;

    .logo_img {
      width: 202px;
      margin-left: 32px;
      border-radius: 40px;
      opacity: 0.3;
      @include flex-center;
      @include transition(all);

      &:hover {
        @include hover-effect;
      }
    }
  }
}

@media (max-width: 360px) {
  #title_parallax {
    font-size: 27px;
    .logo_img {
      width: 150px;
      margin-left: 10px;

      border-radius: 40px;
      opacity: 0.3;
      @include flex-center;
      @include transition(all);

      &:hover {
        @include hover-effect;
      }
    }
  }
}
